<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true" default-autowire="byName">
	<context:property-placeholder
		location="classpath:system.properties" />
	<!-- 让Spring通过自动扫描来查询和管理Bean -->
	<context:component-scan
		base-package="org.sagacity.sqltoy.demo" />
	<aop:aspectj-autoproxy />
	
	<!-- dataSource的配置 （常规读写操作） -->
	<import resource="classpath:spring/spring-datasource.xml" />
	<import resource="classpath:spring/spring-sqltoy.xml" />

</beans>