<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-lazy-init="true" default-autowire="byName">

	<!-- 数据源的配置 报表库 -->
	<bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource" name="dataSource" primary="true"
		destroy-method="close">
		<property name="name" value="dataSource" />
		<property name="driverClassName"
			value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.url}" />
		<property name="username" value="${jdbc.connection.username}" />
		<property name="password" value="${jdbc.connection.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,默认为1分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery"
			value="${jdbc.validationQuery}" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true" />
	</bean>

	<!-- 数据源的配置 sharding1 -->
	<bean id="sharding1"
		class="com.alibaba.druid.pool.DruidDataSource" name="sharding1"
		destroy-method="close">
		<property name="name" value="sharding1" />
		<property name="driverClassName"
			value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.sharding1.url}" />
		<property name="username"
			value="${jdbc.connection.sharding1.username}" />
		<property name="password"
			value="${jdbc.connection.sharding1.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,默认为1分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery"
			value="${jdbc.validationQuery}" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true" />
	</bean>

	<!-- 数据源的配置 sharding2 -->
	<bean id="sharding2"
		class="com.alibaba.druid.pool.DruidDataSource" name="sharding2"
		destroy-method="close">
		<property name="name" value="sharding2" />
		<property name="driverClassName"
			value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.sharding2.url}" />
		<property name="username"
			value="${jdbc.connection.sharding2.username}" />
		<property name="password"
			value="${jdbc.connection.sharding2.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,默认为1分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery"
			value="${jdbc.validationQuery}" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true" />
	</bean>
</beans>