<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true" default-autowire="byName">

	<!-- 数据源的配置 报表库(请根据各自的偏好来选择连接池组件,可以选配阿里的druid等) -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.url}" />
		<property name="username" value="${jdbc.connection.username}" />
		<property name="password" value="${jdbc.connection.password}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxIdle" value="${jdbc.maxActive}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />

		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="keepAlive" value="true"/>
		<!-- 超过时间限制是否回收 -->
		<property name="removeAbandoned" value="true" />
		<!-- 超时时间；单位为秒。180秒=3分钟 -->
		<property name="removeAbandonedTimeout" value="300" />
		<!-- 代表每次检查链接的数量，建议设置和maxActive一样大 -->
		<property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,2分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="120000" />
		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒,10分钟 -->
		<property name="minEvictableIdleTimeMillis" value="600000" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true;prepStmtCacheSize=250;prepStmtCacheSqlLimit=2048" />
	</bean>

	<!-- 数据源的配置 sharding1 -->
	<bean id="sharding1" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.sharding1.url}" />
		<property name="username" value="${jdbc.connection.sharding1.username}" />
		<property name="password" value="${jdbc.connection.sharding1.password}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxIdle" value="${jdbc.maxActive}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="keepAlive" value="true"/>
		<!-- 超过时间限制是否回收 -->
		<property name="removeAbandoned" value="true" />
		<!-- 超时时间；单位为秒。180秒=3分钟 -->
		<property name="removeAbandonedTimeout" value="300" />
		<!-- 代表每次检查链接的数量，建议设置和maxActive一样大 -->
		<property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,2分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="120000" />
		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒，10分钟 -->
		<property name="minEvictableIdleTimeMillis" value="600000" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true;prepStmtCacheSize=250;prepStmtCacheSqlLimit=2048" />
	</bean>

	<!-- 数据源的配置 sharding2 -->
	<bean id="sharding2" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.sharding2.url}" />
		<property name="username" value="${jdbc.connection.sharding2.username}" />
		<property name="password" value="${jdbc.connection.sharding2.password}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxIdle" value="${jdbc.maxActive}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="defaultAutoCommit" value="${jdbc.defaultAutoCommit}" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="keepAlive" value="true"/>
		<!-- 超过时间限制是否回收 -->
		<property name="removeAbandoned" value="true" />
		<!-- 超时时间；单位为秒。180秒=3分钟 -->
		<property name="removeAbandonedTimeout" value="300" />
		<!-- 代表每次检查链接的数量，建议设置和maxActive一样大 -->
		<property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,2分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="120000" />
		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 10分钟 -->
		<property name="minEvictableIdleTimeMillis" value="600000" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size};config.decrypt=false;rewriteBatchedStatements=true;useServerPrepStmts=true;cachePrepStmts=true;prepStmtCacheSize=250;prepStmtCacheSqlLimit=2048" />
	</bean>
</beans>