<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true" default-autowire="byName">
	<bean id="resourcePropertySource"
		class="org.springframework.core.io.support.ResourcePropertySource">
		<constructor-arg name="name"
			value="application.properties" />
		<constructor-arg name="resource"
			value="classpath:application.properties" />
	</bean>

	<!--common-pool2线程池配置 -->
	<bean id="lettucePoolConfig"
		class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
		<property name="maxIdle"
			value="${spring.redis.cluster.maxIdle}" />
		<property name="minIdle"
			value="${spring.redis.cluster.minIdle}" />
		<property name="maxTotal"
			value="${spring.redis.cluster.maxTotal}" />
		<!-- 其他相关配置 -->
	</bean>
	<bean id="redisClusterConfiguration"
		class="org.springframework.data.redis.connection.RedisClusterConfiguration">
		<constructor-arg name="propertySource"
			ref="resourcePropertySource" />
		<property name="password">
			<bean
				class="org.springframework.data.redis.connection.RedisPassword">
				<constructor-arg
					value="${spring.redis.cluster.password}" />
			</bean>
		</property>
	</bean>

	<bean id="lettuceClientConfiguration"
		class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory$MutableLettuceClientConfiguration">
	</bean>

	<!--连接池配置 -->
	<bean id="defaultLettuceConfig"
		class="org.springframework.data.redis.connection.lettuce.DefaultLettucePoolingClientConfiguration">
		<constructor-arg name="clientConfiguration"
			ref="lettuceClientConfiguration" />
		<constructor-arg name="poolConfig"
			ref="lettucePoolConfig" />
	</bean>

	<bean id="lettuceConnectionFactory"
		class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory">
		<constructor-arg name="clusterConfiguration"
			ref="redisClusterConfiguration" />
		<constructor-arg name="clientConfig"
			ref="defaultLettuceConfig" />
		<property name="shareNativeConnection" value="false" />
		<property name="validateConnection" value="true" />
	</bean>

	<bean id="redisTemplate" name="redisTemplate"
		class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory"
			ref="lettuceConnectionFactory" />
		<!--开启事务 -->
		<property name="enableTransactionSupport" value="true" />
	</bean>

</beans>