<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName" default-lazy-init="true">
	<!-- 配置sqltoy框架的上下文 -->
	<bean id="sqlToyContext" class="org.sagacity.sqltoy.SqlToyContext"
		init-method="initialize" destroy-method="destroy">
		<!-- 指定sql.xml 文件的路径实现目录的递归查找,多个路径则用逗号分隔 -->
		<property name="sqlResourcesDir"
			value="classpath:com/sagframe/sqltoy/showcase" />
		<!--非必须属性: 跨数据库函数自动替换,适用于跨数据库软件产品,如mysql开发，oracle部署 -->
		<property name="functionConverts" value="default" />
		<!--非必须属性: 提供项目对数据库新增、修改操作时完成诸如:
		                创建人、创建时间、修改人、修改时间等关键字段统一赋值，减轻开发者每次赋值操作 -->
		<property name="unifyFieldsHandler">
			<bean class="com.sagframe.sqltoy.plugins.SqlToyUnifyFieldsHandler" />
		</property>
		<!-- 非必须属性:缓存翻译管理器,默认值为:classpath:sqltoy-translate.xml -->
		<property name="translateConfig"
			value="classpath:sqltoy-translate.xml" />
		<!--非必须属性:默认值为false -->
		<property name="debug" value="${sqltoy.debug}" />
		<!--非必须属性:数据库保留字兼容处理 -->
		<property name="reservedWords" value="maxvalue,minvalue"/>
	</bean>
</beans>