<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName" default-lazy-init="true">
	<!-- 配置sqltoy框架的上下文 -->
	<bean id="sqlToyContext" class="org.sagacity.sqltoy.SqlToyContext"
		init-method="initialize">
		<!-- 指定sql.xml 文件的路径实现目录的递归查找,非必须属性 -->
		<property name="sqlResourcesDir"
			value="classpath:org/sagacity/sqltoy/showcase/" />
		<!-- 跨数据库函数自动替换(非必须项),适用于跨数据库软件产品,如mysql开发，oracle部署 -->
		<property name="functionConverts" value="default" />

		<!-- 提供项目对数据库新增、修改操作时完成诸如:创建人、创建时间、修改人、修改时间等关键字段统一赋值，减轻开发者每次赋值操作 -->
		<property name="unifyFieldsHandler">
			<bean
				class="org.sagacity.sqltoy.plugins.SqlToyUnifyFieldsHandler" />
		</property>
		<!-- 缓存翻译管理器,非必须属性 -->
		<property name="translateConfig"
			value="classpath:sqltoy-translate.xml" />
		<!-- 集成elasticsearch,可以配置多个地址 -->
		<property name="elasticEndpoints">
			<list>
				<bean class="org.sagacity.sqltoy.config.model.ElasticEndpoint">
					<constructor-arg value="${es.default.url}" />
					<property name="id" value="default" />
					<!-- 6.3.x 版本支持xpack sql查询 <property name="enableSql" value="true" /> -->
					<!-- <property name="username" value="" /> <property name="password" 
						value="" /> -->
				</bean>
			</list>
		</property>

		<!-- 默认值为:false -->
		<property name="debug" value="${sqltoy.debug}" />
		<!-- 默认值为:50,提供sqltoy批量更新的batch量 -->
		<property name="batchSize" value="${sqltoy.batchSize}" />
		<!-- 如果是单一类型的数据库，建议dialect一定要设置,可避免不必要的数据库类型判断 -->
		<property name="dialect" value="${sqltoy.dialect}" />
		<!-- 默认值为:100000,设置分页查询最大的提取数据记录量,防止恶意提取数据造成系统内存压力以及保障数据安全 -->
		<property name="pageFetchSizeLimit" value="50000" />
		<!-- 3.3.4 开始增加的参数便于为Dao设置基本的数据源,非必填项 -->
		<property name="defaultDataSource" ref="dataSource" />
		<property name="printSqlStrategy" value="debug" />
	</bean>

	<bean id="sqlToyLazyDaoShard1" name="sqlToyLazyDaoShard1"
		class="org.sagacity.sqltoy.dao.impl.SqlToyLazyDaoImpl">
		<property name="dataSource" ref="sharding1" />
	</bean>
	<bean id="sqlToyLazyDaoShard2" name="sqlToyLazyDaoShard2"
		class="org.sagacity.sqltoy.dao.impl.SqlToyLazyDaoImpl">
		<property name="dataSource" ref="sharding2" />
	</bean>
</beans>