trunk/sagacity-quickvo/target/
trunk/sagacity-quickvo/.settings/
trunk/sagacity-quickvo/.classpath
trunk/sagacity-sqltoy-4.3/target/
trunk/sagacity-sqltoy-4.3/.settings/
trunk/sagacity-sqltoy-4.3/.classpath
trunk/sagacity-quickvo/.classpath
trunk/sagacity-sqltoy-4.3/.classpath
trunk/sagacity-quickvo/.classpath
