<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="true" default-autowire="byName">

	<!-- 数据源的配置 报表库 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		name="dataSource" destroy-method="close">
		<property name="name" value="dataSource"/>
		<property name="driverClassName" value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.url}" />
		<property name="username" value="${jdbc.connection.username}" />
		<property name="password" value="${jdbc.connection.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,默认为1分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1 from dual" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size}" />
	</bean>

	<!-- 数据源的配置 报表库 -->
	<bean id="dataSourceView" class="com.alibaba.druid.pool.DruidDataSource"
		name="dataSourceView" destroy-method="close">
		<property name="name" value="dataSourceView"/>
		<property name="driverClassName" value="${jdbc.connection.driver_class}" />
		<property name="url" value="${jdbc.connection.url}" />
		<property name="username" value="${jdbc.connection.username}" />
		<property name="password" value="${jdbc.connection.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<!-- 获取连接时最大等待时间,单位毫秒,设置的是60秒 -->
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒,默认为1分钟 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 连接保持空闲而不被驱逐的最长时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1 from dual" />
		<property name="connectionProperties"
			value="defaultRowPrefetch=${jdbc.fetch_size};defaultBatchValue=${jdbc.batch_size}" />
	</bean>

	<!-- 事务处理的AOP配置 // -->
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* sqltoy.showcase..*ServiceImpl.*(..))"
			advice-ref="txAdvice" />
		<aop:advisor
			pointcut="execution(* org.sagacity.sqltoy.service.impl.SqlToyCRUDServiceImpl.*(..))"
			advice-ref="txAdvice" />
	</aop:config>
	<!-- 事务管理器定义 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务AOP处理的方法和事务类型定义 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="NOT_SUPPORTED"
				isolation="DEFAULT" />
			<tx:method name="load*" propagation="NOT_SUPPORTED"
				isolation="DEFAULT" />
			<tx:method name="query*" propagation="NOT_SUPPORTED"
				isolation="DEFAULT" />
			<tx:method name="search*" propagation="NOT_SUPPORTED"
				isolation="DEFAULT" />
			<tx:method name="find*" propagation="NOT_SUPPORTED"
				isolation="DEFAULT" />

			<tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="change*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="create*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="del*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="edit*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="execute*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="write*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
</beans>