<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	https://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true" default-autowire="byName">
	<!-- 加载配置文件 -->
	<context:property-placeholder
		location="classpath:application.properties" />

	<!-- 让Spring通过自动扫描来查询和管理Bean -->
	<context:component-scan
		base-package="org.sagacity.sqltoy" />
	<!-- 项目包 -->
	<context:component-scan
		base-package="com.sagframe.sqltoy" />
	<!-- 基本dataSource的配置 -->
	<import resource="classpath:spring/spring-datasource.xml" />
	<!-- 数据库事务配置 -->
	<import resource="classpath:spring/spring-aop.xml" />

	<!-- redis配置 -->
	<import resource="classpath:spring/spring-redis.xml" />
	<!-- sqltoy-orm的配置,根据项目复杂度选择配置模式,普通项目参照spring-sqltoy-simple配置 -->
	<import resource="classpath:spring/spring-sqltoy.xml" />

	<!-- sqltoy分库分表的配置 -->
	<import resource="classpath:spring/spring-sqltoy-sharding.xml" />
</beans>