<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName" default-lazy-init="true">
	<!-- 配置辅助sql处理工具用于sql查询条件的处理 -->
	<bean id="sqlToyContext" name="sqlToyContext"
		class="org.sagacity.sqltoy.SqlToyContext" init-method="initialize">
		<!-- 指定sql.xml 文件的路径实现目录的递归查找,非必须属性 -->
		<property name="sqlResourcesDir"
			value="classpath:org/sagacity/demo" />
		<!-- 针对不同数据库函数进行转换,非必须属性 -->
		<property name="functionConverts" value="default" />
		<!-- pojo 包路径,非必须属性 -->
		<property name="packagesToScan">
			<list>
				<value>org.sagacity.sqltoy.demo.vo</value>
			</list>
		</property>
		<!-- 统一公共字段赋值,原理:只做补漏，开发者已经设置了值不会被覆盖,当没有被赋值时才会起作用 -->
		<property name="unifyFieldsHandler">
			<bean
				class="org.sagacity.sqltoy.demo.plugins.SqltoyUnifyFieldsHandler" />
		</property>
		<!-- 缓存翻译管理器,非必须属性 -->
		<property name="translateConfig"
			value="classpath:sqltoy-translate.xml" />
		<!-- 默认值为:false -->
		<property name="debug" value="${sqltoy.debug}" />
		<!-- 默认值为:50,提供sqltoy批量更新的batch量 -->
		<property name="batchSize" value="${sqltoy.batchSize}" />
		<!-- 如果是单一类型的数据库，建议dialect一定要设置,可避免不必要的数据库类型判断 -->
		<property name="dialect" value="${sqltoy.dialect}" />
		<!-- 默认值为:100000,设置分页查询最大的提取数据记录量,防止恶意提取数据造成系统内存压力以及保障数据安全 -->
		<property name="pageFetchSizeLimit" value="50000" />
		<!-- 默认dataSource -->
		<property name="defaultDataSource" ref="dataSource" />
		<!-- 打印sql的策略 -->
		<property name="printSqlStrategy" value="debug" />
		<!-- 超过多少毫秒打印sql -->
		<property name="printSqlTimeoutMillis" value="20000" />
	</bean>
	<bean id="sqlToyLazyDao" name="sqlToyLazyDao"
		class="org.sagacity.sqltoy.dao.impl.SqlToyLazyDaoImpl" />

	<bean id="sqlToyCRUDService" name="sqlToyCRUDService"
		class="org.sagacity.sqltoy.service.impl.SqlToyCRUDServiceImpl" />
</beans>